@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
    font-family: "Open Sans", sans-serif;
}

.search {
    top: 6px;
    left: 10px;
}

.green {
    color: green;
}

.dashboard_item p {
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
    color: #000;
}

.dashboard_item h2 {
    margin-left: 5px;
}

.page_header {
    width: 100%;
}

.page_header_menu {
    width: 10%;
    float: right;
}

.dashboard_menu {
    border-radius: 4px;
    background-color: #00c0ef;
}

.dashboard_menu img {
    padding: 5px 5px 5px;
    width: 75px;
    height: 75px;
}

.custom-col {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.branch_container {
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.branch-card {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0.5rem;
}

.branch_image {
    background-color: #00a65a;
}

.branch_image img {
    width: 90px;
    height: 90px;
    padding: 5px 5px 5px;
}

.text-align {
    text-align: center;
    font-size: 1.4rem;
    padding: 10px 10px 10px;
    text-transform: uppercase;
    color: #00a65a;
    font-weight: 600;
}

.branch_title {
    margin-left: 0.5rem;
}

.card-title {
    color: darkgreen;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.card-title_h5 {
    color: rgb(5, 177, 5);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
}

.branch_footer a {
    margin-left: 75%;
    margin-top: 2rem;
}

.branch_body {
    height: 400px;
}

.welcome_text{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.welcome_text h2{
    font-weight: bold;
    color: darkblue;
    font-size: 2rem;
}

.staff-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
